<h1>Welcome to Rock, Paper, Scissors!!!!!!!!!!!!!!!!!!!</h1>
<p>Please enter your choice of rock, paper or scissors after the domain name and find out who wins! Player 1 goes first followed by player 2, good luck</p>
<a href="/player1">Player 1</a>
